body,
html {
    margin: 0;
    padding: 0;
}

.navBar {
    height: 100px;
    width: 100%;
    background-color: rgb(1, 51, 88);
    left: 0px;
    top: 0px;
}

.navBar .leftSide {
    float: left;
    margin-left: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

.navBar .rightSide {
    float: right;
    margin-right: 30px;
    height: 100%;
    display: flex;
    align-items: center;
}

.navBar .navLogo {
    float: left;
    margin-right: 20px;
    margin-right: 20px;
}

.navBar .title h2,
.navBar .title h5 {
    color: white;
    margin: 0px;
    padding: 0px;
}

.navBar .title h5 {
    font-family: 'Courier New', Courier, monospace;
}

.navBar .chatButton {
    width: 150px;
    height: 50px;
    border: 4px solid white;
    background-color: rgb(0, 102, 179);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    float: right;
}

.navBar .chatButton:hover {
    background-color: rgb(0, 12, 179);

}

.navBar .chatButton a {
    color: white;
    text-decoration: none;
    font-size: 20px;

}

.Header {
    position: relative;
    height: 400px;
    background-image: url('/Images/Header.png');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.Header .displayText {
    margin-left: 40px;
    width: 50%;
    text-align: justify;
    background-color: rgba(166, 153, 97, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.Header .displayText h1 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    margin: 0px;
    padding: 0px;
}

.Header .displayText p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

.Header .displayImg {
    position: absolute;
    left: 80%;
    transform: translate(-50%, 0%);
}

.Header .displayImg img {
    height: 300px;
}


.Features {
    width: 100%;
    background-color: rgb(1, 51, 88);
}

.Features .textTitle {
    text-align: center;
    margin: auto;
    width: 50%;
    padding-top: 30px;
}

.Features .textTitle h1 {
    margin: 0px;
    color: white;
}

.Features .textTitle p {
    color: white;
    text-align: justify;
}

.Features .featuresItem {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.Features .featuresItem .item {
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    width: 250px;
    background-color: rgb(0, 102, 179);
    border-radius: 10px;
    color: white;
}

.Features .featuresItem .item h3 {
    text-decoration: underline;
}

.Features .featuresItem .item p {
    text-align: justify;
}

@media screen and (max-width: 550px) {
    .navBar .chatButton {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    .Features .textTitle {
        width: 80%;
    }

    .Header .displayText {
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .Header .displayText h1 {
        font-size: 30px;
    }

    .Header .displayText p {
        font-size: 17px;
    }

    .Header .displayImg img {
        display: none;
    }

}


@media screen and (max-width: 768px) {
    .Header .displayText h1 {
        font-size: 40px;
    }

    .Header .displayImg img {
        height: 200px;
    }
}